{% extends 'base.html.twig' %}

{% block menu %}
    <li><a href="{{ path('user-dashboard') }}">Home</a></li>
    <li><a href="{{ path('stock-options') }}">Ações</a></li>
    <li><a href="{{ path('buy-stocks') }}">Comprar</a></li>
    <li><a href="">Logout</a></li>
{% endblock %}