{% extends 'home-broker/base-dashboard.html.twig' %}

{% block body %}
<h1>Ações disponíveis</h1>

<table>
    <thead>
    <tr>
        <th>Empresa</th>
        <th>Sigla</th>
        <th>Disponíveis</th>
        <th>Valor unitário</th>
    </tr>
    </thead>

    <tbody>
    {% for stock in stockOptions %}
        <tr>
            <td>{{ stock.getCompany }}</td>
            <td>{{ stock.getTickerSymbol }}</td>
            <td>{{ stock.getQuantity }}</td>
            <td>R$ {{ stock.getValue|number_format(2, ',', '.') }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}